/* ==================================== */
/* =============== HOME =============== */
/* ==================================== */

/* awal header */

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:focus {

    text-decoration: none;
    color: blue;
}

#header {
    background-color: #ffffff;
    display: inline;
    float: left;
    width: 100%;
}

#header .header-area {
    display: inline;
    float: left;
    padding: 10px;
    width: 100%;
}

#header .header-area .header-top-left {
    display: inline;
    float: left;
    width: 100%;
}

#header .header-area .header-top-left .top-email {
    display: inline;
    float: left;
    font-size: 14px;
    color: black;
}

#header .header-area .header-top-left .top-email i {
    margin-right: 5px;
}

#header .header-area .header-top-left .top-phone {
    border-left: 1px solid rgb(0, 0, 0);
    display: inline;
    font-size: 14px;
    float: left;
    margin-left: 15px;
    padding-left: 15px;
    color: black;
}

#header .header-area .header-top-left .top-phone i {
    margin-right: 5px;
}

#header .header-area .header-top-right {
    display: inline;
    float: left;
    text-align: right;
    width: 100%;
}

#header .header-area .header-top-right .top-social-nav {
    display: inline-block;
}

#header .header-area .header-top-right .top-social-nav li {
    display: inline-block;
}

#header .header-area .header-top-right .top-social-nav li a {
    display: inline-block;
    color: black;
    font-size: 15px;
    padding: 0 12px;

}

/* akhir header */

/* start navbar */


#menu-login li a {
    color: white;
    text-decoration: none;
}

#menu-login li a:hover {
    color: blue;
    text-decoration: none;
}

/* finish navbar */

/* start content */

#popular {
    font-family: 'Bahnschrift Light';
    font-size: 40px;
    color: black;
    padding-bottom: 3%;
}

#row-up {
    padding-bottom: 4%;

}

/* finish content */

/* start hotel-partner */
#hotel-partner {
    background-color: #ffffff;

}

/* finish hotel-partner */