/* ==================================== */
/* =============== HOME =============== */
/* ==================================== */

/* awal header */

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:focus {

    text-decoration: none;
    color: blue;
}

#header {
    background-color: #ffffff;
    display: inline;
    float: left;
    width: 100%;
}

#header .header-area {
    display: inline;
    float: left;
    padding: 10px;
    width: 100%;
}

#header .header-area .header-top-left {
    display: inline;
    float: left;
    width: 100%;
}

#header .header-area .header-top-left .top-email {
    display: inline;
    float: left;
    font-size: 14px;
    color: black;
}

#header .header-area .header-top-left .top-email i {
    margin-right: 5px;
}

#header .header-area .header-top-left .top-phone {
    border-left: 1px solid rgb(0, 0, 0);
    display: inline;
    font-size: 14px;
    float: left;
    margin-left: 15px;
    padding-left: 15px;
    color: black;
}

#header .header-area .header-top-left .top-phone i {
    margin-right: 5px;
}

#header .header-area .header-top-right {
    display: inline;
    float: left;
    text-align: right;
    width: 100%;
}

#header .header-area .header-top-right .top-social-nav {
    display: inline-block;
}

#header .header-area .header-top-right .top-social-nav li {
    display: inline-block;
}

#header .header-area .header-top-right .top-social-nav li a {
    display: inline-block;
    color: black;
    font-size: 15px;
    padding: 0 12px;

}

/* akhir header */

/* start navbar */

#menu-login li a {
    color: white;
    text-decoration: none;
}

#menu-login li a:hover {
    color: blue;
    text-decoration: none;
}

/* finish navbar */

/* start content */

#popular {
    font-family: 'Bahnschrift Light';
    font-size: 40px;
    color: black;
    padding-bottom: 0%;
}

hr.new2 {
    border-top: 2px solid #e708e7;
    width: 10%;
    border-radius: 50px;
}

#row-up {
    padding-bottom: 4%;
    padding-top: 4%;
    text-align: center;
}

/* finish content */

/* start hotel-partner */
#hotel-partner {
    background-color: #ffffff;
}

/* finish hotel-partner */

/* start footer */

#footer {
    display: inline;
    float: left;
    width: 100%;
}

#footer .footer-top {
    background-image: linear-gradient(to right, #610a61, #b907b9, #610a61);
    display: inline;
    float: left;
    padding: 50px 0;
    width: 100%;
}

#footer .footer-top .footer-top-area {
    display: inline;
    float: left;
    width: 100%;
}

#footer .footer-top .footer-top-area .footer-widget {
    display: inline;
    float: left;
    width: 100%;
}

#footer .footer-top .footer-top-area .footer-widget h4 {
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#footer .footer-top .footer-top-area .footer-widget ul li a {
    color: #f9f9f9;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 0 5px 15px;
    position: relative;
    text-transform: capitalize;
}

#footer .footer-top .footer-top-area .footer-widget ul li a:before {
    left: 0;
    position: absolute;
    top: 5px;
}


#footer .footer-top .footer-top-area .footer-widget p {
    color: #f9f9f9;
}

#footer .footer-top .footer-top-area .footer-widget .subscribe-form {
    display: inline;
    float: left;
    margin-top: 10px;
    width: 100%;
}

#footer .footer-top .footer-top-area .footer-widget .subscribe-form input[type="email"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
    font-size: 15px;
    height: 35px;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
}

#footer .footer-top .footer-top-area .footer-widget .subscribe-form .subscribe-btn {
    color: white;
    border: medium none;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 5px 10px;
}

#footer .footer-top .footer-top-area .footer-widget address p {
    font-weight: lighter;
    letter-spacing: 0.5px;
}

#footer .footer-bottom {
    background-color: #e708e7;
    display: inline;
    float: left;
    padding: 25px 0;
    width: 100%;
}

#footer .footer-bottom .footer-bottom-area {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}

#footer .footer-bottom .footer-bottom-area p {
    color: #fff;
    margin-bottom: 0;
    letter-spacing: 0.3px;
}

#footer .footer-bottom .footer-bottom-area p a {
    color: #fff;

}

/* finish footer */

/* start btn to top */

#myBtn {
    display: none;
    position: fixed;
    bottom: 8px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 6px;
}

#myBtn:hover {

    background-image: linear-gradient(to right, #610a61, #b907b9, #610a61);

}

/* finish btn to top */

/* ==================================== */
/* =============== ABOUT =============== */
/* ==================================== */

/* start section  */

body,
html {
    height: 100%;
    margin: 0;
}

.hero-image-ticket {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://miro.medium.com/fit/c/1838/551/1*ztxHHEoRGpC7RdHHh-jhpA.jpeg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.geniushost.in/images/about-us.png);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-xperience {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://static1.squarespace.com/static/5c7026f9c46f6d17bda859de/t/5c702785eb39313575ce40dd/1560881909930/?format=1500w);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-rentcar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://www.classiccar.com.pk/islamabad_rent_a_car/classic_car_banner.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-gallery {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://thespinoff.co.nz/wp-content/uploads/2017/12/2017-lindauer-install-6.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://maccustomersolution.com/images/contactus_banner.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text .carousel-caption {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    margin-bottom: 3%;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

/* finish section */

/* start about */
#about1 {
    padding-top: 25%;
    padding-right: 5%;
}

#about2 {
    padding-top: 2%;
    padding-left: 20%;
}

#about3 {
    padding-top: 9%;
}

#about4 {
    padding-top: 5%;
}

#about5 {
    padding-top: 4%;
}

#imgabouttop {
    padding-top: 10%;
}

#imgabout1 {
    border: 2px solid #e708e7;
    border-radius: 10px;
}

#imgabout2 {
    margin-right: 2%;
    border: 2px solid #e708e7;
    border-radius: 10px;
}

/* finish about*/

/* start our team */

.our-team {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.our-team-section {
    background-image: url("/img/ticket reservation/1.png");
}

.title-team {
    color: grey;
    font-size: 18px;
}

.title-nama {
    padding-top: 5%;
}

.button-our {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-image: linear-gradient(to right, #610a61, #e708e7, #610a61);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    /* border-radius: 5px; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.a-our {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.button-our:hover,
.a-our:hover {
    opacity: 0.8;
}

/* finish our team */